#board {
    width: 320px;
    margin: 320px auto;
}

.row {
    display: flex;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: #eee;
    margin: 2px;
    user-select: none;
}